<?xml version="1.0"?>
<data>
    <camera>
        <transformations>
            <transformation>/home/rex/REX_WS/Test_WS/POINT_CLOUD_STITCHING/data/transformations_1.txt</transformation>
        </transformations>
        <clouds>
            <pointcloud>/home/rex/REX_WS/Test_WS/POINT_CLOUD_STITCHING/DepthMapFusionUtils/build/cleaned1.pcd</pointcloud>
            <pointcloud>/home/rex/REX_WS/Test_WS/POINT_CLOUD_STITCHING/DepthMapFusionUtils/build/cleaned2.pcd</pointcloud>
            <pointcloud>/home/rex/REX_WS/Test_WS/POINT_CLOUD_STITCHING/DepthMapFusionUtils/build/cleaned3.pcd</pointcloud>
            <pointcloud>/home/rex/REX_WS/Test_WS/POINT_CLOUD_STITCHING/DepthMapFusionUtils/build/cleaned4.pcd</pointcloud>
            <pointcloud>/home/rex/REX_WS/Test_WS/POINT_CLOUD_STITCHING/DepthMapFusionUtils/build/cleaned5.pcd</pointcloud>
        </clouds>
    </camera>
    <scan>
        <clouds>
            <pointcloud>/home/rex/REX_WS/Test_WS/POINT_CLOUD_STITCHING/data/original.ply</pointcloud>
        </clouds>
    </scan>
</data>
